
.cart-total {
  font-family: Garamond,serif;
  font-size: 1.5rem;
  color: #3B2416;
  text-align: center;
  padding: 20px;
}

.cart-items {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 210px));
  gap: .3rem;
  justify-content: center;
}

.cart-item {
  margin-bottom: 0px;
  padding: 20px;
  color: #3B2416;
  font-family: Garamond,serif;
  background-color: transparent/*#fff*/;
  border: 10px, solid, #3B2416;
  border-radius: 0px;
  text-align: center;
  position: relative;
}

.cart-item-image {
  height: 100px;
  width: auto;
}

.cart-item-details {

}

.cart-item-name {

}

.cart-item-cost {

}

.cart-item-quantity {

}

.cart-item-button-dec {
  background-color: transparent;
  border-color: #3B2416;
  color: #3B2416;
}

.cart-item-quantity-value {

}

.cart-item-button-inc {
  background-color: transparent;
  border-color: #3B2416;
  color: #3B2416;
}

.cart-item-total {

}

.cart-container {
  width: 100%;
  box-sizing: border-box;
}

.cart-item-delete {
  color: #c9a227;
  font-size: 15px;
  font-family: garamond;
  background-color: #3B2416;
  border-radius: 0px;
  border-color: #c9a227;
  cursor: pointer;
  padding: 5px 30px;
}

.total {
  color: #8B451F;
}

.continue-shopping-btn {
  color: #c9a227;
  font-size: 15px;
  font-family: garamond;
  background-color: #3B2416;
  border-radius: 0px;
  border-color: #c9a227;
  cursor: pointer;
  padding: 5px 30px;
}

.checkout-button {
  color: #c9a227;
  font-size: 15px;
  font-family: garamond;
  background-color: #3B2416;
  border-radius: 0px;
  border-color: #c9a227;
  cursor: pointer;
  padding: 5px 30px;
}
