
.cart-container {
  width: 100%;
  box-sizing: border-box;
}

.cart-items {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 210px));
  gap: .3rem;
  justify-content: center;
}

.cart-item {
  margin-bottom: 0px;
  padding: 20px;
  color: #3B2416;
  font-family: Garamond,serif;
  background-color: transparent/*#fff*/;
  border: 10px, solid, #3B2416;
  border-radius: 0px;
  text-align: center;
  position: relative;
}

.cart-item-image {
  width: 100%;
  box-sizing: border-box;
}

.cart-item-details {

}

.cart-item-name {

}

.cart-item-cost {

}

.cart-item-quantity {

}

.cart-item-button-dec {

}

.cart-item-quantity-value {

}

.cart-item-button-inc {

}

.cart-item-total {

}

.total {
  color: #8B451F;
}

.cart-item-delete {

}

.close-si-btn {

}
