
.si-container {
  width: 100%;
  box-sizing: border-box;
}

.si-items {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 210px));
  gap: .3rem;
  justify-content: center;
  padding-top: 3.65rem;
}

.si-item {
  margin-bottom: 0px;
  padding: 20px;
  color: #3B2416;
  font-family: Garamond,serif;
  background-color: transparent/*#fff*/;
  border: 10px, solid, #3B2416;
  border-radius: 0px;
  text-align: center;
  position: relative;
}

.si-item-image {
  height: 100px;
  box-sizing: auto;
}

.si-item-details {

}

.si-item-name {

}

.si-item-quantity {

}

.si-item-button-dec {
  background-color: transparent;
  border-color: #3B2416;
  color: #3B2416;
}

.si-item-quantity-value {

}

.si-item-button-inc {
  background-color: transparent;
  border-color: #3B2416;
  color: #3B2416;
}

.si-item-delete {
  color: #c9a227;
  font-size: 15px;
  font-family: garamond;
  background-color: #3B2416;
  border-radius: 0px;
  border-color: #c9a227;
  cursor: pointer;
  padding: 5px 30px;
}

.close-si-btn {
  color: #c9a227;
  font-size: 15px;
  font-family: garamond;
  background-color: #3B2416;
  border-radius: 0px;
  border-color: #c9a227;
  cursor: pointer;
  padding: 5px 30px;
}
