
.road-out-button {
  position: relative;  /* Was fixed when alone at top of page */
/*top: 10px;  
  left: 50%;
  transform: translateX(-50%);*/

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;
  background-color: transparent;
  transition: background-color 0.8s ease;
  z-index: 1;

  display: inline-block;
  border: 3px double #6b583d;
  padding: 12px 30px;
}
.road-out-button::before {
  content: "✦";
  position: absolute;

  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 8px;
  
  transition: color 0.8s ease;

/*pointer-events: none;*/
}

.road-out-button::after {
  content: "✦";
  position: absolute;

  top: +41px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 8px;

  transition: color 0.8s ease;

/*pointer-events: none;*/
}

.road-out-button:hover {
  background-color: #c9a227;
}

.road-out-button:hover::before {
  color: #4B0082;
}

.road-out-button:hover::after {
  color: #4B0082;
}
