
/* Portal.jsx and Derive.jsx*/
.Portal {
  background: radial-gradient(circle at 20% 30%, rgba(255,255,255,.25), transparent 30%), radial-gradient(circle at 80% 70%, rgba(120,80,30,.12), transparent 35%),tan;
  min-height: 5000px;
}

.SeydaNeen {
  background: radial-gradient(circle at 20% 30%, rgba(255,255,255,.25), transparent 30%), radial-gradient(circle at 80% 70%, rgba(120,80,30,.12), transparent 35%),tan;
  height: 1750px;
}

.SeydaNeenLeave {
  background: radial-gradient(circle at 20% 30%, rgba(255,255,255,.25), transparent 30%), radial-gradient(circle at 80% 70%, rgba(120,80,30,.12), transparent 35%),tan;
  height: 1250px;
}

.GamblersDen {
  background: radial-gradient(circle at 20% 30%, rgba(255,255,255,.25), transparent 30%), radial-gradient(circle at 80% 70%, rgba(120,80,30,.12), transparent 35%),tan;
  height: 1250px;
}

/* SeydaNeen.jsx */
.gamblersden {
  position: absolute;
  top: 700px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.gamblersden-exit {
  position: absolute;
  top: 750px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;

  display: inline-block;
  border: 3px double #6b583d;
  padding: 12px 30px;
}
.gamblersden-exit::before {
  content: "✦";
  position: absolute;

  top: -16px;
  left: 50%;
  transform: translateX(-50%);

  padding: 0 8px;
}

.gamblersden-exit::after {
  content: "✦";
  position: absolute;

  top: +41px;
  left: 50%;
  transform: translateX(-50%);

  padding: 0 8px;
}

.inn {
  position: absolute;
  top: 750px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.trader {
  position: absolute;
  top: 800px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.bookhouse {
  position: absolute;
  top: 850px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.theroadout {
  position: absolute;
  top: 900px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

/* SeydaNeenLeave.jsx */
.gamblersdenleave {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.innleave {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.traderleave {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.bookhouseleave {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.theroadoutleave {
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}


/* Portal.jsx and Derive.jsx*/  
.portal-text {
  position: fixed;
  top: 50%;
  left: 50%;

  transform-origin: center center;


  font-family: Garamond, serif;
  font-size: 4rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.seydaneen-text {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.seydaneen-text2 {
  position: absolute;
  top: 1400px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.seydaneenleave-text2 {
  position: absolute;
  top: 750px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

/* Portal.jsx and Derive.jsx*/
.scroll-space {
  height: 5000px;
}

