
.Portal {
  min-height: 5000px;
}

.portal-text {
  position: fixed;
  top: 50%;
  left: 50%;

  transform-origin: center center;

  font-size: 4rem;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.scroll-space {
  height: 5000px;
}

