
/* Portal.jsx and Derive.jsx*/
.Portal {
  background: radial-gradient(circle at 20% 30%, rgba(255,255,255,.25), transparent 30%), radial-gradient(circle at 80% 70%, rgba(120,80,30,.12), transparent 35%),tan;
  min-height: 5000px;
}

.SeydaNeen {
  background: radial-gradient(circle at 20% 30%, rgba(255,255,255,.25), transparent 30%), radial-gradient(circle at 80% 70%, rgba(120,80,30,.12), transparent 35%),tan;
  height: 1250px;
}

.gamblersden {
  position: absolute;
  top: 700px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.inn {
  position: absolute;
  top: 750px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.trader {
  position: absolute;
  top: 800px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.bookhouse {
  position: absolute;
  top: 850px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.theroadout {
  position: absolute;
  top: 900px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

/* Portal.jsx and Derive.jsx*/  
.portal-text {
  position: fixed;
  top: 50%;
  left: 50%;

  transform-origin: center center;


  font-family: Garamond, serif;
  font-size: 4rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}

.seydaneen-text {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Garamond, serif;
  font-size: 2rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: black;

  z-index: 1000;
}


.scroll-space {
  height: 5000px;
}

